@import '../config.scss';

@mixin dropdown-trigger($inactive, $active, $height) {

    #{$inactive} {
        visibility: hidden;
        height: 0;
        opacity: 0;
        transform-origin: top center;
        transform: scale(0.9);
        transition: height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) .2s,
                    opacity .2s cubic-bezier(0.23, 1, 0.32, 1),
                    visibility 0s .2s,
                    transform .2s cubic-bezier(0.23, 1, 0.32, 1);
        > div {
            transform: translateY(-6*3rem); 
            opacity: 0;
            transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0.2s, 
                        opacity 0s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
        }
 
    }
    #{$active} {
        visibility: visible;
        height: $height;
        opacity: 1;
        transform: scale(1);

        transition: height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1),
                    opacity .2s cubic-bezier(0.23, 1, 0.32, 1),
                    visibility 0s,
                    transform 0s;
        > div {
            transform: translateY(0);
            opacity: 1;
            transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), 
                        opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
        }
    }
}
