<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Montserrat" rel="stylesheet">



    <!-- Required styles for MDC Web -->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Required MDC Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>



    <link rel="stylesheet" type="text/css" href="css/style.css"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="mdc-typography">

    <div id="expcanvas">

        <div src="https://source.unsplash.com/random" title="Computer Science" subtitle="COMPUTER SCIENCE" intro="Computer science is no more" text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Computer Science" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>
        <div src="https://source.unsplash.com/random" title="Sonora Desert" subtitle="Computer Science" intro="Computer science is no more about computers than astronomy is about telescopes." text="Computer science (sometimes called computation science or computing science, but not to be confused with computational science or software engineering) is the study of processes that interact with data and that can be represented as data in the form of programs. It enables the use of algorithms to manipulate, store, and communicate digital information. A computer scientist studies the theory of computation and the practice of designing software systems.[1] "> Article Here or by "text" attribute </div>





    </div>




    <!--JavaScript at end of body for optimized loading-->
    <script type="module" src="js/fsm.js"></script>
    <script type="module" src="js/script.js"></script>
    <script type="module" src="js/jss.js"></script>
  </body>

</html>
